.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100% - 160px
  ); 
}

.alingForm {
  flex: 1;
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}

.alingLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container {
  position: absolute; 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 5em; 
}

mat-form-field {
  width: 250px;
}

@media screen and (max-width: 768px) {
  mat-form-field {
    width: 185px;
  }
}

@media screen and (max-width: 480px) {
  mat-form-field {
    width: 110px;
  }
}
