<ng-container>
  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="sidenav"
      [fixedInViewport]="options.value.fixed"
    >
      <div class="alignCenter">
        <img src="assets/img/logoStxt.png" alt="" />
      </div>

      <div>
        <div mat-subheader>Gestão</div>
        <mat-list>
          <mat-list-item (click)="officesService()">
            <mat-icon matListItemIcon>group</mat-icon>
            <span matListItemTitle>Escritorio</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span matListItemTitle>Recibo</span>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div mat-subheader>Emissão</div>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span matListItemTitle>Emissao Recibo</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span matListItemTitle>Baixa Recibo</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content> oq eu faço com isso </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
