.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  background: #FFF;
}

.alignCenter {
  text-align: center;
}

mat-list-item:hover {
  background-color: #7b61ff1b;
  cursor: pointer;
}
