<ng-container>
  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="sidenav"
      [fixedInViewport]="options.value.fixed"
    >
      <div class="alignCenter">
        <!-- <img src="assets/img/logoStxt.png" alt="" /> -->
        <h1 class="circle">Logo</h1>
      </div>

      <div mat-subheader>
        Gestão
        <mat-list>
          <mat-list-item (click)="listOfficesSession()">
            <mat-icon matListItemIcon>group</mat-icon>
            <span matListItemTitle>Escritórios</span>
          </mat-list-item>
          <mat-list-item (click)="listReceiptSession()">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span matListItemTitle>Recibo</span>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-divider></mat-divider>

      <div mat-subheader>
        Operações
        <mat-list>
          <mat-list-item (click)="newReceiptSession()">
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>Emissão Recibo</span>
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item (click)="editStatusSession()">
            <mat-icon matListItemIcon>edit</mat-icon>
            <span matListItemTitle>Atualiza Recibo</span>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="alignLogOut">
        <mat-list>
          <mat-list-item (click)="logOut()">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Sair</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content> Montar DashBoard </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
