<app-toolbar [pageTitle]="pageHeader"></app-toolbar>
<form
  [formGroup]="editReceiptForm"
  (ngSubmit)="confirm(editReceiptForm.value)"
  class="form-container"
  >
  <mat-grid-list cols="1" rowHeight="100px" class="alingForm">
    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field appearance="fill">
          <mat-label>Codigo do Recibo</mat-label>
          <input matInput formControlName="receiptId" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Escritorio</mat-label>
          <mat-select formControlName="officeId">
            @for (office of listOffices; track office) {
              <mat-option [value]="office.id">
                {{ office.responsable }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>

    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field>
          <mat-label>Metodo de Pagamento</mat-label>
          <mat-select formControlName="methodPayment">
            <mat-option value="C">Cartão</mat-option>
            <mat-option value="D">Dinheiro</mat-option>
            <mat-option value="T">Transferencia</mat-option>
            <mat-option value="P">Pix</mat-option>
            <mat-option value="O">Outros</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="E">Emitido</mat-option>
            <mat-option value="R">Recebido</mat-option>
            <mat-option value="C">Cancelado</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>

    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field>
          <mat-label>Data de emissão</mat-label>
          <input
            matInput
            [matDatepicker]="pickerStartDate"
            formControlName="startDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerStartDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerStartDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de recebimento</mat-label>
            <input
              matInput
              [matDatepicker]="pickerReceiveDate"
              formControlName="receiptDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerReceiveDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerReceiveDate></mat-datepicker>
            </mat-form-field>
          </p>
        </mat-grid-tile>

        <mat-grid-tile>
          <p class="alingLine">
            <mat-form-field appearance="fill">
              <mat-label>Valor</mat-label>
              <input matInput formControlName="value" type="number" />
            </mat-form-field>
          </p>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="button-container">
        <button mat-button color="primary" type="button" (click)="backToLastPage()">
          Voltar
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!editReceiptForm.valid"
          >
          Confirmar
        </button>
      </div>
    </form>
