.table-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralize verticalmente */
  justify-content: center; /* Centralize horizontalmente */
  height: 80vh;
}

.table-config {
  width: 80%;
  max-width: 100%;
}

.button-container {
  position: absolute; /* Stick the button to the bottom */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the button container */
  width: 100%;
  max-width: 80%; /* Same max-width as the table */
  display: flex;
  justify-content: space-between;
  padding: 5em;
}
