<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    ></button>
    <span>Recibo</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>

<form [formGroup]="newReceiptForm" (ngSubmit)="confirm(newReceiptForm.value)">
  <mat-grid-list cols="1" rowHeight="100px" class="alingForm">
    <mat-grid-tile>
      <p class="alingLine">
        <!-- TODO: criar dropdown com chamada de sevico para os 2 campos abaixo -->
        <mat-form-field appearance="fill">
          <mat-label>Instituicao</mat-label>
          <mat-select matInput formControlName="institution"> </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Escritorio</mat-label>
          <mat-select formControlName="office"> </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput formControlName="value" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Metodo de Pagamento</mat-label>
          <mat-select formControlName="paymentMethod">
            <mat-option value="C">Cartão</mat-option>
            <mat-option value="D">Dinheiro</mat-option>
            <mat-option value="T">Transferencia</mat-option>
            <mat-option value="P">Pix</mat-option>
            <mat-option value="O">Outros</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-config">
    <button mat-button color="primary" (click)="backToLastPage()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit">Confirmar</button>
  </div>
</form>
