.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100% - 160px
  ); /* Subtracting height of toolbar and button container */
}

.alingForm {
  flex: 1;
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}

.alingLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container {
  position: absolute; /* Stick the button to the bottom */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the button container */
  width: 100%;
  max-width: 75%; /* Same max-width as the form */
  display: flex;
  justify-content: space-between;
  padding: 5em; /* Adjust padding as per requirement */
}

mat-form-field {
  width: 300px;
}

/* Adjust width for medium-sized screens */
@media screen and (max-width: 768px) {
  mat-form-field {
    width: 185px;
  }
}

/* Adjust width for small-sized screens or mobile devices */
@media screen and (max-width: 480px) {
  mat-form-field {
    width: 110px;
  }
}
