<app-toolbar [pageTitle]="pageHeader"></app-toolbar>
<form
  [formGroup]="newReceiptForm"
  (ngSubmit)="confirm(newReceiptForm.value)"
  class="form-container"
>
  <mat-grid-list cols="1" rowHeight="100px" class="alingForm">
    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field appearance="fill">
          <mat-label>Instituicao</mat-label>
          <mat-select matInput formControlName="institutionId">
            <mat-option value="1">Doce Lar</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Escritorio</mat-label>
          <mat-select formControlName="officeId">
            <mat-option *ngFor="let office of listOffices" [value]="office.id">
              {{ office.responsable }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput formControlName="value" type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Metodo de Pagamento</mat-label>
          <mat-select formControlName="methodPayment">
            <mat-option
              *ngFor="let option of methodPaymentSelect"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-container">
    <button mat-button color="primary" type="button" (click)="backToLastPage()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit">Confirmar</button>
  </div>
</form>
