<app-toolbar [pageTitle]="pageHeader"></app-toolbar>

<form
  [formGroup]="updateReceiptForm"
  (ngSubmit)="confirm(updateReceiptForm.value)"
  class="form-container"
>
  <mat-grid-list cols="1" rowHeight="100px" class="alingForm">
    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field appearance="fill">
          <mat-label>Recibo</mat-label>
          <input
            matInput
            formControlName="receiptId"
            (blur)="searchReceipt($event)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Situação</mat-label>
          <mat-select matInput formControlName="status">
            <mat-option value="E">Emitido</mat-option>
            <mat-option value="R">Recebido</mat-option>
            <mat-option value="C">Cancelado</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p class="alingLine">
        <mat-form-field>
          <mat-label>Data de recebimento</mat-label>
          <input
            matInput
            [matDatepicker]="pickerReceiptDate"
            formControlName="receiptDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerReceiptDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerReceiptDate></mat-datepicker>
        </mat-form-field>
      </p>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-container">
    <button mat-button color="primary" type="button" (click)="backToLastPage()">
      Voltar
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isSubmitButtonDisabled()"
    >
      Confirmar
    </button>
  </div>
</form>
