<form>
  <div class="container">
    <div class="login">
      <div class="alignCenter">
        <img src="assets/img/logoStxt.png" alt="" />
      </div>

      <!-- TODO: linkar no forms -->
      <mat-form-field class="fullWidth">
        <mat-label >Usuário</mat-label>
        <input matInput [formControl]="usuario"/>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <mat-label>senha</mat-label>
        <input matInput [formControl]="senha"/>
      </mat-form-field>

      <mat-checkbox [formControl]="lembrar">Mater-me conectado</mat-checkbox>
      <!-- TODO: POR LINK PARA TELA DE RECUPERAÇÃOD E SENHA -->
      <br>
      <div class="alignCenter">
        <a>esqueci a senha</a>
      </div>
      <br />
      <div class="alignCenter">
        <button mat-raised-button color="primary" (click)="logar()">Logar</button>
      </div>
    </div>
  </div>
</form>
