.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 411px;
  top: 70px;
  background: #f5f5f5;
  border-radius: 30px;
  padding: 2.5%;
}

.alignCenter {
  text-align: center;
}

.fullWidth{
    width: 100%;
}
