<div class="container">
  <form [formGroup]="authForm" (ngSubmit)="logar(authForm.value)">
    <div class="login">
      <div class="alignCenter">
        <img src="assets/img/logoStxt.png" alt="Company Logo" />
      </div>
      <mat-grid-list cols="1" rowHeight="100px" class="alingForm">
        <mat-grid-tile class="alingLine">
          <mat-form-field class="fullWidth">
            <mat-label>Usuário</mat-label>
            <input matInput formControlName="username" />
            <mat-error
              *ngIf="authForm.controls['username'].hasError('required')"
            >
              Usuário é obrigatório
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="alingLine">
          <div>
            <mat-form-field class="fullWidth">
              <mat-label>Senha</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>

              <mat-error
                *ngIf="authForm.controls['password'].hasError('required')"
              >
                Senha é obrigatório
              </mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="remember"
              >Mantenha-me conectado
            </mat-checkbox>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="100px" class="alingForm">
        <mat-error *ngIf="showLoginError" class="pt-5"
          >Usuário ou Senha incorreto</mat-error
        >

        <div class="pt-5">
          <a href="url">Esqueci a senha</a>
        </div>
        <div class="alignCenter pt-5">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            Confirmar
          </button>
        </div>
      </mat-grid-list>
    </div>
  </form>
</div>
