<ng-container>
  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="sidenav"
      [fixedInViewport]="options.value.fixed"
    >
      <div class="alignCenter">
        <img src="assets/img/logoStxt.png" alt="" />
      </div>

      <div>
        <h3>Gestão</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>This is the title</span>
          </mat-list-item>
          <mat-list-item>Also the title</mat-list-item>
        </mat-list>
        <h3>Emissão</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>This is the title</span>
          </mat-list-item>
          <mat-list-item>Also the title</mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content> oq eu faço com isso </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
